/* vars  */
:root {
  --blue: #0075ff;
  --blue-alt: #0d69d5;
  --orange: #f59e0b;
  --green: #22c55e;
  --red: #f44336;
  --gray: #888;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt);
}
.page {
  min-height: 100vh;
  background-color: #f1f5f9;
}
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px;
}
.sidebar ul li a {
  transition: 0, 3s;
  margin-bottom: 5px;
}
.sidebar li a:hover {
  background-color: #f6f6f6;
}
.sidebar ul li a span {
  margin-left: 10px;
  font-size: 14px;
}
@media (min-width: 768px) {
  .sidebar > h3::before,
  .sidebar > h3::after {
    content: "";
    position: absolute;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
  }
  .sidebar > h3::before {
    width: 80px;
    height: 2px;
    bottom: -20px;
  }
  .sidebar > h3::after {
    width: 12px;
    height: 12px;
    bottom: -29px;
    border-radius: 50%;
    border: 4px solid white;
  }
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar > h3 {
    font-size: 13px;
    margin-bottom: 15px;
  }
}
/* setting page  */
.settings-page :disabled {
  cursor: no-drop;
  background-color: #f0f4f8;
  color: #bbb;
}
/* start content  */
.head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--gray);
}
.head .search input {
  width: 160px;
  margin-left: 5px;
  padding-left: 30px;
  transition: 0.3s;
}
.head .search input:focus {
  width: 200px;
}
.head .search input:focus::placeholder {
  opacity: 0;
}
.head .notify::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--red);
  border-radius: 50%;
  left: -5px;
  top: -5px;
}
.head .icons div {
  margin-left: 15px;
  margin-left: 15px;
}
.head .icons img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
/* start page  */
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 3px;
}
.page h1::before {
  background-color: white;
  width: 120px;
}
.page h1::after {
  background-color: black;
  width: 40px;
}
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  gap: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
/* start welcome  */
.welcome {
  overflow: hidden;
}
.introoo {
  height: 150px;
  width: 100%;
}

.bgbg {
  width: 100%;
  /* height: 100%; */
  background-size: cover;
  position: relative;
  filter: brightness(0.5) blur(5px);
}

.welcome .avatar {
  position: relative;
  width: 20%;
  height: 20%;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 5px #eee;
  padding: 2px;
  margin-top: -30px;
  margin-left: 20px;
  z-index: 100;
}
.welcome .body {
  /* border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; */
}
.welcome .body > div {
  flex: 1;
}
.super-user {
  bottom: 100px;
  position: relative;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.welcome .visit {
  margin: 0 15px 15px auto;
  transition: 0.3s;
}
.welcome .visit:hover {
  background-color: var(--blue-alt);
}
@media (max-width: 767px) {
  .welcome .intro {
    padding: 30px;
  }
  .welcome .avatar {
    margin-left: 0;
  }
  .welcome > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
/* start draft  */
.draft textarea {
  resize: none;
  min-height: 180px;
}
.draft .save {
  margin-left: auto;
  transition: 0.3s;
  cursor: pointer;
}
.draft .save:hover {
  background-color: var(--blue-alt);
}
/* start targets  */
.targets .target-row .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  transition: 0.3s;
}
.targets .details {
  flex: 1;
}
.targets .details .progress {
  height: 4px;
}
.targets .details .progress > span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.targets .details .progress > span span {
  position: absolute;
  padding: 2px 5px;
  bottom: 16px;
  right: -16px;
  color: white;
  border-radius: 6px;
  font-size: 13px;
  cursor: default;
  transition: 0.3s;
}
.targets .details .progress > span span::after {
  content: "";
  position: absolute;
  border-color: transparent;
  border-width: 5px;
  border-style: solid;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
}
.targets .details .progress > span span:hover {
  padding: 8px 13px;
  border-radius: 30%;
  font-size: 15px;
}
.targets .details .progress > .green-money span::after {
  border-top-color: var(--green);
}
.targets .details .progress > .blue-team span::after {
  border-top-color: var(--blue);
}
.targets .details .progress > .orange-projects span::after {
  border-top-color: var(--orange);
}
.targets .icon:hover {
  font-size: 28px;
}
.green-money .icon,
.green-money .progress {
  background-color: rgb(34 197 94 / 20%);
}
.blue-team .icon,
.blue-team .progress {
  background-color: rgb(0 117 255 / 20%);
}
.orange-projects .icon,
.orange-projects .progress {
  background-color: rgb(245 158 11 / 20%);
}
/* start ticets  */
.tickets .box {
  width: calc(50% - 10px);
  transition: 0.3s;
}
/* start news  */
.news .news-row:not(:last-of-type) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.news .news-row img {
  width: 100px;
  border-radius: 6px;
  margin-right: 15px;
}
.news .news-row .info {
  flex-grow: 1;
}
.news .news-row .info h3 {
  margin: 0 0 6px;
  font-size: 16px;
}
@media (max-width: 767px) {
  .tickets .box {
    width: 100%;
  }
  .news .news-row {
    display: block;
  }
  .news .news-row .label {
    margin: 10px auto;
    width: fit-content;
  }
}
/* start tasks  */
.tasks .task-row:not(:last-child) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.tasks .info {
  text-align: 1;
}
.tasks .done {
  opacity: 0.3;
  color: var(--red);
}
.tasks .done h3,
.tasks .done p {
  text-decoration: line-through;
  color: var(--red);
}
.tasks .delete {
  cursor: pointer;
  transition: 0.3s;
}
.tasks .delete:hover {
  color: var(--red);
}
/* start uploads  */
.latest-uploads ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.latest-uploads ul li img {
  width: 40px;
  height: 40px;
}
/* start projects  */
.latest-projects ul::before {
  content: "";
  position: absolute;
  left: 11px;
  width: 2px;
  height: 100%;
  background-color: var(--blue);
}
.latest-projects ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
  outline: 2px solid var(--blue);
  margin-right: 15px;
  z-index: 1;
}
.latest-projects ul .done::before {
  content: "";
  background-color: var(--blue);
}
.latest-projects ul .current::before {
  content: "";
  animation: change-color 0.8s infinite alternate;
}
.latest-projects .lunch-icon {
  position: absolute;
  width: 250px;
  right: 0;
  bottom: 0;
  opacity: 0.1;
}
/* start remiders  */
.reminders ul li .key {
  width: 15px;
  height: 15px;
}
.reminders ul li > .blue {
  border-left: 3px solid var(--blue);
}
.reminders ul li > .green {
  border-left: 3px solid var(--green);
}
.reminders ul li > .orange {
  border-left: 3px solid var(--orange);
}
.reminders ul li > .red {
  border-left: 3px solid var(--red);
}
/* start post  */
.posts .avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.posts .post-content {
  line-height: 1.8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  min-height: 140px;
}
/* start social-stats  */
.social-stats .box {
  padding-left: 70px;
}
.social-stats .box i {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  transition: 0.3s;
}
.social-stats .box a {
  transition: 0.3s;
}
.social-stats .box i:hover {
  transform: rotate(5deg);
}
.social-stats .twitter,
.social-stats .twitter a:hover {
  background-color: rgb(29 161 242 / 20%);
  color: #1da1f2;
}
.social-stats .twitter i,
.social-stats .twitter a {
  background-color: #1da1f2;
}
.social-stats .facebook,
.social-stats .facebook a:hover {
  background-color: rgb(24 119 242 / 20%);
  color: #1877f2;
}
.social-stats .facebook i,
.social-stats .facebook a {
  background-color: #1877f2;
}
.social-stats .youtube,
.social-stats .youtube a:hover {
  background-color: rgb(255 0 0 / 20%);
  color: #ff0000;
}
.social-stats .youtube i,
.social-stats .youtube a {
  background-color: #ff0000;
}
.social-stats .linkedin,
.social-stats .linkedin a:hover {
  background-color: rgb(0 119 181 / 20%);
  color: #0077b5;
}
.social-stats .linkedin i,
.social-stats .linkedin a {
  background-color: #0077b5;
}
/* start projects  */
.projects .responsive-table {
  overflow-x: auto;
}
.projects table {
  min-width: 1000px;
  border-spacing: 0;
}
.projects table td {
  padding: 15px;
  transition: 0.3s;
}
.projects thead td {
  background-color: #eee;
  font-weight: bold;
}
.projects tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}
.projects tbody tr td:last-child {
  border-right: 1px solid #eee;
}
.projects table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}
.projects table img:not(:first-child) {
  margin-left: -20px;
}
.projects tbody tr:hover td {
  background-color: #faf7f7;
}
/* end dashboard  */
/* start settings  */
.toggle-check {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.toggle-switch {
  position: relative;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  background-color: #ccc;
  transition: 0.3s;
  cursor: pointer;
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  color: #aaa;
  position: absolute;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.toggle-check:checked + .toggle-switch {
  background-color: var(--blue);
}
.toggle-check:checked + .toggle-switch::before {
  content: "\f00c";
  left: 50px;
  color: var(--blue);
}
.settings-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
  .settings-page {
    grid-template-columns: minmax(100px, 1fr);
    margin-right: 10px;
    margin-left: 10px;
    gap: 10px;
  }
}
.settings-page .setting-box .close-message {
  border: 1px solid #ccc;
  resize: none;
  min-height: 150px;
}
.settings-page .email {
  display: inline-flex;
  width: calc(100% - 80px);
}
.settings-page .sec-box {
  padding-bottom: 15px;
}
.settings-page .sec-box:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.settings-page .social i {
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 6px 0 0 6px;
  border-right: none;
  transition: 0.3s;
}
.settings-page .social input {
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 0 6px 6px 0;
  padding-left: 10px;
}
.settings-page .social > div:focus-within i {
  color: black;
}
.widgets-control .control input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.widgets-control .control label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.widgets-control .control label:hover::before {
  border-color: var(--blue-alt);
}
.widgets-control .control label::before,
.widgets-control .control label::after {
  content: "";
  position: absolute;
  border-radius: 4px;
  left: 0;
  top: 50%;
  margin-top: -9px;
}
.widgets-control .control label::before {
  width: 14px;
  height: 14px;
  border: 2px solid var(--gray);
}
.widgets-control .control label::after {
  content: "\f00c";
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  background-color: var(--blue);
  color: white;
  width: 18px;
  height: 18px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(360deg);
  transition: 0.3s;
}
.widgets-control .control input[type="checkbox"]:checked + label::after {
  transform: scale(1);
}
.backup-control input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.backup-control .date label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.backup-control .date label:hover::before {
  border-color: var(--blue-alt);
}
.backup-control .date label::before,
.backup-control .date label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: 50%;
}
.backup-control .date label::before {
  transform: translateY(-50%) translateX(-50%);
  width: 18px;
  height: 18px;
  border: 2px solid var(--gray);
}
.backup-control .date label::after {
  width: 12px;
  height: 12px;
  background: var(--blue);
  transition: 0.3s;
  transform: translateY(-50%) translateX(-50%) scale(0);
}
.backup-control .date input[type="radio"]:checked + label::after {
  transform: translateY(-50%) translateX(-50%) scale(1);
}
.backup-control .servers {
  border-top: 1px solid #eee;
  padding-top: 10px;
}
@media (max-width: 767px) {
  .backup-control .servers {
    flex-wrap: wrap;
  }
}
.backup-control .server {
  border: 2px solid #eee;
  margin: 5px;
  transition: 0.3s;
  position: relative;
}
.backup-control .server label {
  cursor: pointer;
}
.backup-control .servers input[type="radio"]:checked + .server {
  border-color: var(--blue);
  color: var(--blue);
  background-color: rgb(0 117 255 / 5%);
}
/* end settings  */
/* start profile  */
.profile-page .avatar-box {
  width: 300px;
}
.profile-page .avatar-box img {
  width: 120px;
  height: 120px;
  padding: 2px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px #ddd;
}
.profile-page .avatar-box .level {
  height: 6px;
  width: 70%;
  margin: auto;
  border: 1px solid black;
  overflow: hidden;
}
.profile-page .avatar-box .level span {
  position: absolute;
  top: 0;
  left: -1px;
  height: 100%;
  background-color: var(--blue);
  border-radius: 6px;
}
@media (min-width: 768px) {
  .profile-page .avatar-box {
    border-right: 1px solid #eee;
  }
}
@media (max-width: 767px) {
  .profile-page .overview {
    flex-direction: column;
  }
}
.profile-page .info-box .box {
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  transition: 0.3s;
}
.profile-page .info-box .box:hover {
  background-color: #f9f9f9;
}
.profile-page .info-box .box > div {
  min-width: 250px;
  padding: 10px 0 0;
}
.profile-page .info-box h4 {
  font-weight: normal;
}
@media (min-width: 768px) {
  .profile-page .info-box .box > div {
    min-width: 250px;
  }
}
@media (max-width: 767px) {
  .profile-page .info-box .toggle-switch {
    margin: auto;
  }
}
.profile-page .info-box .toggle-switch {
  width: 40px;
  height: 20px;
}
.profile-page .info-box .toggle-switch::before {
  width: 11px;
  height: 11px;
  font-size: 8px;
}
.profile-page .info-box .toggle-check:checked + .toggle-switch::before {
  left: 25px;
}
/* start other data  */
@media (max-width: 767px) {
  .other-data {
    flex-direction: column;
  }
}
.other-data .skills {
  flex-grow: 1;
}
.other-data .skills ul li {
  padding: 15px 0;
}
.other-data .skills ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.other-data .skills ul li span {
  display: inline-flex;
  background-color: #eee;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 14px;
}
.other-data .skills ul li span:not(:last-child) {
  margin-right: 10px;
}
.other-data .activities {
  flex-grow: 2;
}
.other-data .activity img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.other-data .activity:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .other-data .activity img {
    margin-right: 10px;
  }
  .other-data .activity .date {
    margin-left: auto;
    text-align: right;
  }
}
@media (max-width: 767px) {
  .other-data .activity {
    flex-direction: column;
  }
  .other-data .activity img {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .other-data .activity .date {
    margin-top: 15px;
  }
}
/* projects page  */
.projects-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
  .projects-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.projects-page .project .date {
  position: absolute;
  right: 10px;
  top: 10px;
}
.projects-page .project h4 {
  font-weight: normal;
}
.projects-page .project .team {
  position: relative;
  min-height: 80px;
}
.projects-page .project .team a {
  position: absolute;
  left: 0;
  bottom: 0;
}
.projects-page .project .team a:nth-child(2) {
  left: 25px;
}
.projects-page .project .team a:nth-child(3) {
  left: 50px;
}
.projects-page .project .team a:nth-child(4) {
  left: 75px;
}
.projects-page .project .team a:nth-child(5) {
  left: 100px;
}
.projects-page .project .team a:hover {
  z-index: 1000;
}
.projects-page .project .team a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}
.projects-page .project .games {
  justify-content: flex-end;
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 15px;
}
.projects-page .project .games span {
  padding: 3px 8px;
  margin-left: 5px;
  width: fit-content;
}
@media (max-width: 767px) {
  .projects-page .project {
    text-align: center;
  }
  .projects-page .project .date {
    position: absolute;
    padding: 5px 0px 0px 0px;
    top: 50%;
    right: 0;
    transform: rotate(90deg) scale(6.5);
    z-index: 0;
    opacity: 20%;
    font-weight: bold;
    border-bottom: 1px solid gray;
  }
  .projects-page .project .team a {
    margin: 0px 60px auto;
  }
  .projects-page .project .games {
    flex-direction: column;
    align-items: center;
  }
  .projects-page .project .games span:not(:last-child) {
    margin-bottom: 15px;
  }
  .projects-page .project .info {
    flex-direction: column;
  }
  .projects-page .project .prog {
    margin-bottom: 15px;
  }
}
.projects-page .project .info {
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 15px;
}
.projects-page .project .prog {
  position: relative;
  height: 8px;
  width: 260px;
  border-radius: 6px;
  border: 1px solid black;
}
.projects-page .project .prog span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 6px;
}
.projects-page .project .info :last-child:hover > i,
.projects-page .project .prog:hover + div i,
.projects-page .project .prog span:hover + div i {
  font-size: 20px;
  right: 14px;
  color: var(--red);
  transition: 0.3s;
}
/* start courses  */
.courses-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
  .courses-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.courses-page .course {
  overflow: hidden;
}
.courses-page .course .cover {
  max-width: 100%;
}
.courses-page .course .instructor {
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  top: 20px;
  left: 20px;
  border: 5px solid #eee;
  box-shadow: 0 0 5px white;
}
.courses-page .course .description {
  line-height: 1.6;
}
.courses-page .course .info {
  border-top: 1px solid #eee;
}
.courses-page .course .info .title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 27px;
  top: -13px;
}
/* friends-page  */
.friends-page {
  /* grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); */
  grid-template-columns: repeat(minmax(600px, 1fr));
}
@media (max-width: 767px) {
  .friends-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.friends-page .friend {
}
@media (min-width: 1200px) {
  .friends-page .friend {
    width: 400px;
    left: 50px;
    transform: translateX(50%);
  }
}
.friends-page .contact {
  position: absolute;
  top: 10px;
  left: 10px;
}
.friends-page .contact i {
  padding: 10px;
  background-color: #eee;
  color: #666;
  border-radius: 50%;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
}
.friends-page .contact i:hover {
  background-color: var(--blue);
  color: white;
}
.friends-page .icons {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.friends-page .icons i {
  margin-right: 5px;
}
.friends-page .icons .vip {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  opacity: 0.2;
}
/* start files  */
.files-page {
  flex-direction: row-reverse;
  align-items: start;
}
@media (max-width: 767px) {
  .files-page {
    flex-direction: column;
    align-items: normal;
  }
}
.files-page .files-stats {
  min-width: 260px;
}
.files-page .files-stats .icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.files-page .files-stats .size {
  margin-left: auto;
}
.files-page .files-stats .blue {
  background-color: rgb(0 117 255 / 20%);
}
.files-page .files-stats .green {
  background-color: rgb(34 197 94 / 20%);
}
.files-page .files-stats .red {
  background-color: rgb(244 67 45 / 20%);
}
.files-page .files-stats .orange {
  background-color: rgb(245 158 11 / 20%);
}
.files-page .files-stats .upload {
  margin: 15px auto 0;
  padding: 10px 15px;
  transition: 0.3s;
}
.files-page .files-stats .upload:hover {
  background-color: var(--blue-alt);
}
.files-page .files-stats .upload:hover i {
  animation: go-up 0.8s infinite;
}
.files-page .files-content {
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.files-page .files-content img {
  width: 64px;
  height: 64px;
  transition: 0.3s;
}
.files-page .files-content .file:hover img {
  transform: rotate(5deg);
}
.files-page .files-content .info {
  border-top: 1px solid #eee;
}
/* start plans  */
.plans-page {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media (max-width: 767px) {
  .plans-page {
    grid-template-columns: minmax(250px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.plans-page .plan .top {
  border: 3px solid white;
  outline: 3px solid transparent;
}
.plans-page .plan.blue .top {
  outline-color: var(--blue);
}
.plans-page .plan.green .top {
  outline-color: var(--green);
}
.plans-page .plan.orange .top {
  outline-color: var(--orange);
}
.plans-page .plan .price {
  position: relative;
  font-size: 40px;
  width: fit-content;
  margin: auto;
}
.plans-page .plan .price span {
  position: absolute;
  top: 0;
  left: -20px;
  font-size: 25px;
}
.plans-page .plan ul li {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.plans-page .plan ul li .yes {
  color: var(--green);
}
.plans-page .plan ul li i:not(.yes, .help) {
  color: var(--red);
}
.plans-page .plan ul li i:first-child {
  font-size: 18px;
  margin-right: 5px;
}
.plans-page .plan ul li .help {
  margin-left: auto;
  cursor: pointer;
  color: var(--gray);
}
.plans-page .plan ul li .help:hover {
  color: var(--blue);
}
/* start animation  */
@keyframes change-color {
  from {
    background-color: var(--blue);
  }
  to {
    background-color: white;
  }
}
@keyframes go-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.mmLogo {
  width: 64px;
  height: 64px;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 5px #eee;
  padding: 2px;
}

.seps {
  display: block;
  margin: 20px 0;
  width: 80%;
  height: 2px;
  background-color: #ccc;
}

.thePost {
  margin: 100px;
  gap: 50px;

  display: flex;
  flex-direction: column;
}

.moro {
  padding: 20px;
  border: 2px solid #333;
  transition: 0.3s;
  border-radius: 20px;
  background-color: #ddd;
  align-self: center;
  cursor: pointer;
}
.moro:hover {
  background-color: #ccc;
}
